:root,
*,p,ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 10px auto;
    width: 90%;
}

.container-fluid {
    padding: 1rem;
    width: 90%;

}

.row {
    width: calc(100% - 2%);
    float: left;
    ::after {
        clear: both;
    }
}

.display-flex {
    display: flex;
    ::after{
        justify-content: center;
        align-content: center;
    }
}