// base
@import "./base/reset";
@import "./base/typography";

// abstracts
@import './abstracts/mixin';
@import './abstracts/variables';


// utilities
@import "./utilities/function";
@import "./utilities/color";

// Import layouts
@import './layouts/header';
@import './layouts/footer';

// components 
@import "./components/cart";

body{
    background-color: $secundry-color;
    color: red;
}