// base
@import "./base/reset";


// utilities
@import "./utilities/variables";
@import "./utilities/function";
@import "./utilities/color";
@import "./utilities/font";
@import "./utilities/mixin";


// components

body{
    background-color: $secundry-color;
    color: red;
}